/* List of things that need specific styling */
/* Header to have high score in one corner, and timer in the other. */
/* Main body to have the question in bold on top, follow by the buttons stacked on top of each other. */
/* Buttons need to have specific styling to make them rounded and colorful. */

* {
  margin: 5px;
}

/* Header section */
.header-box {
  display: flex;
  justify-content: space-between;
}

/* Header text */
.head-chars {
  font-size: 30px;
}

/* Main body */
.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 25%;
}

/* Welcome Message div */
.text-box {
  display: flex;
}

/* Welcome message */
.welcome {
  font-size: 25px;
}

/* Answer Button div */
.btn-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Answer Button */
.btn {
  padding: 10px;
  background: linear-gradient(45DEG, #2F1C53, #A46DFF, #F6D1FD); 
  border-radius: 5px;
  font-size: 18px;
}

/* Start Button div */
.start-btn-box {
  display: flex;
  justify-content: center;
}

/* Start button */
.start-btn {
  padding: 10px;
  background: linear-gradient(45DEG, #2F1C53, #A46DFF, #F6D1FD); 
  border-radius: 5px;
  font-size: 25px;
}

.btn:hover, .start-btn:hover {
  background: linear-gradient(135DEG, #074C00, #42A341, #B8E2A3);
}

@media screen and (max-width: 500px) {

  .main-box {
    margin: 10% 15%;
  }
  .head-chars {
    font-size: 25px;
  }

  .welcome {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .main-box {
    margin: 10%;
  }

  .welcome {
    text-align: center;
    font-size: 19px;
  }

  .head-chars {
    font-size: 22px;
  }
}